@model IEnumerable<Doctor>
@{
    ViewData["Title"] = "AboutUs Page";
}

<!-- Start About us -->
<div id="about" class="about-box">
    <div class="about-a1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mx-auto text-center">
                    <div class="title-box">
                        <h2>About Us</h2>
                        <p>Discover Health Provisor's commitment to providing expert medical consultation.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row align-items-center about-main-info">
                        <div class="col-lg-12">
                            <h2>Welcome to Health Provisor</h2>
                            <p>At Health Provisor, we strive to offer personalized and high-quality medical consultation services. Our team of experienced healthcare professionals is dedicated to ensuring your well-being. Whether you need preventive care, diagnosis, or ongoing treatment, we are here to guide you through your healthcare journey.</p>
                            <p>We understand the importance of a trusted healthcare partner, and that's why we prioritize your health and provide comprehensive medical solutions. Our commitment extends to delivering compassionate care, utilizing advanced technologies, and fostering a supportive environment for our patients.</p>
                            <a href="https://www.mercer.com/en-gb/solutions/health-and-benefits/benefits-consulting/" class="new-btn-d br-2">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 images-to-back">
                    <div class="about-m">
                        <ul id="banner">
                            <li>
                                <img src="~/images/about-img-03.jpg" width="600" height="540" alt="">
                            </li>
                            <li>
                                <img src="~/images/about-img-02.jpg" width="600" height="540" alt="">
                            </li>
                            <li>
                                <img src="~/images/about-img-01.jpg" width="600" height="540" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About us -->
