@{
    ViewData["Title"] = "Blog Page";
}

<!-- Start Blog -->
<div id="Blog" class="blog-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title-box">
					<h2>Health Blog</h2>
					<p>Stay informed with our latest articles on health and well-being. Explore expert insights and useful tips for maintaining a healthy lifestyle.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="blog-inner">
					<div class="blog-img">
						<img class="img-fluid" src="~/images/blog-img-01.jpg" alt="" />
					</div>
					<div class="item-meta">
						<a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
						<a href="#"><i class="fa fa-user-o"></i> Health Expert</a>
						<span class="dti">15 January 2024</span>
					</div>
					<h2>Exploring the Benefits of Regular Exercise</h2>
					<p>Discover the numerous advantages of incorporating regular exercise into your daily routine.</p>
					<a class="new-btn-d br-2" href="https://www.everydayhealth.com/health-expert-network/">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="blog-inner">
					<div class="blog-img">
						<img class="img-fluid" src="~/images/blog-img-02.jpg" alt="" />
					</div>
					<div class="item-meta">
						<a href="#"><i class="fa fa-comments-o"></i> 10 Comment </a>
						<a href="#"><i class="fa fa-user-o"></i>  Health Blogger</a>
						<span class="dti">25 January 2024</span>
					</div>
					<h2>Tips for Maintaining a Healthy Lifestyle</h2>
					<p>Discover the path to a balanced and vibrant life with valuable insights on maintaining well-being.</p>
					<a class="new-btn-d br-2" href="https://www.purdueglobal.edu/blog/student-life/valuable-health-wellness-blogs/">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="blog-inner">
					<div class="blog-img">
						<img class="img-fluid" src="~/images/blog-img-03.jpg" alt="" />
					</div>
					<div class="item-meta">
						<a href="#"><i class="fa fa-comments-o"></i> 15 Comment </a>
						<a href="#"><i class="fa fa-user-o"></i> Health Blog Team</a>
						<span class="dti">15th November 2023</span>
					</div>
					<h2>Exploring the Impact of Healthy Habits.</h2>
					<p>Transform your well-being by embracing the transformative power of mindful eating and heightened nutritional awareness</p>
					<a class="new-btn-d br-2" href="https://www.teamhealth.com/blog/?r=1">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Blog -->