@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Banner -->
<div class="ulockd-home-slider">
	<div class="container-fluid">
		<div class="row">
			<div class="pogoSlider" id="js-main-slider">
				<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image: url('/images/slider-01.jpg');">
					<div class="lbox-caption pogoSlider-slide-element">
						<div class="lbox-details">
							<h1>Welcome to Health Provisor</h1>
							<p>
								Health Provisor is a comprehensive platform designed to facilitate seamless medical interactions between healthcare professionals and individuals seeking health services
							</p>
							<a href="#" class="btn">Contact Us</a>
						</div>
					</div>
				</div>
				<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url('/images/slider-02.jpg');">
					<div class="lbox-caption pogoSlider-slide-element">
						<div class="lbox-details">
							<h1>We are Expert in The Field of Midical Consultation</h1>
							<p>Medical consultation is a professional interaction between a healthcare provider and a patient</p>
							<a href="#appointment" class="btn">Consultation</a>
						</div>
					</div>
				</div>
				<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url('/images/slider-03.jpg');">
					<div class="lbox-caption pogoSlider-slide-element">
						<div class="lbox-details">
							<h1>Welcome to Health Provisor</h1>
							<p>
								Health Provisor is a comprehensive platform designed to facilitate seamless medical interactions between healthcare professionals and individuals seeking health services
							</p>
							<a href="#" class="btn">Contact Us</a>
						</div>
					</div>

				</div>
			</div><!-- .pogoSlider -->
		</div>
	</div>
</div>
<!-- End Banner -->
