@{
	ViewData["Title"] = "Services Page";
}

	<!-- Start Services -->
<div id="services" class="services-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title-box">
					<h2>Medical Consultation Services</h2>
					<p>Explore our range of medical consultation services for your well-being</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<div class="serviceBox">
							<div class="service-icon"><i class="fa fa-h-square" aria-hidden="true"></i></div>
							<h3 class="title">Telemedicine Consultation</h3>
							<p class="description">
								Access professional medical advice from the comfort of your home. Our telemedicine services provide convenient virtual consultations.
							</p>
							<a href="https://www.news-medical.net/health/What-is-Telemedicine.aspx#:~:text=Telemedicine%20refers%20to%20the%20provision,Jae%2Dyoung%20%2F%20Shutterstock.com" class="new-btn-d br-2">Read More</a>
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<div class="service-icon"><i class="fa fa-heart" aria-hidden="true"></i></div>
							<h3 class="title">Cardiology Consultation</h3>
							<p class="description">
								Explore our cardiology consultation services, dedicated to heart health. Our expert cardiologists provide comprehensive assessments.
							</p>
							<a href="https://www.drbhosalekartik.com/why-cardiology-consultation-is-important/" class="new-btn-d br-2">Read More</a>
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<div class="service-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></div>
							<h3 class="title">Hospital Consultation</h3>
							<p class="description">
								Experience top-notch medical care with our hospital consultation services. Our state-of-the-art facilities and dedicated healthcare professionals ensure that you receive comprehensive.
							</p>
							<a href="https://jamanetwork.com/journals/jamapediatrics/fullarticle/2773475" class="new-btn-d br-2">Read More</a>
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<div class="service-icon"><i class="fa fa-stethoscope" aria-hidden="true"></i></div>
							<h3 class="title">Telehealth Consultation</h3>
							<p class="description">
								Benefit from our telehealth consultation services, where experienced healthcare professionals use advanced technology to provide remote medical assessments.
							</p>
							<a href="https://www.abdalihospital.com/telehealth" class="new-btn-d br-2">Read More</a>
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<div class="service-icon"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
							<h3 class="title">Rehabilitation Services</h3>
							<p class="description">
								Explore our health-focused rehabilitation services, dedicated to enhancing mobility and improving overall well-being. Our compassionate team of healthcare professionals.
							</p>
							<a href="https://www.hopkinsmedicine.org/physical-medicine-rehabilitation/specialty-areas/inpatient-rehab-consult" class="new-btn-d br-2">Read More</a>
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<div class="service-icon"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
							<h3 class="title">Holistic Wellness Solutions</h3>
							<p class="description">
								Explore comprehensive wellness strategies designed to enhance your overall health. Our tailored programs address physical and mental well-being.
							</p>
							<a href="https://www.holisticws.com/" class="new-btn-d br-2">Read More</a>
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<div class="service-icon"><i class="fa fa-medkit" aria-hidden="true"></i></div>
							<h3 class="title">Preventive Care Services</h3>
							<p class="description">
								Prioritize your well-being with our preventive care services. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur.
							</p>
							<a href="https://www.healthcare.gov/glossary/preventive-services/#:~:text=Routine%20health%20care%20that%20includes,disease%2C%20or%20other%20health%20problems." class="new-btn-d br-2">Read More</a>
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<div class="service-icon"><i class="fa fa-user-md" aria-hidden="true"></i></div>
							<h3 class="title">Primary Care Services</h3>
							<p class="description">
								Access comprehensive primary care services led by our experienced medical professionals. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur.
							</p>
							<a href="https://www.healthline.com/find-care/articles/primary-care-doctors/what-is-primary-care" class="new-btn-d br-2">Read More</a>
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<div class="service-icon"><i class="fa fa-ambulance" aria-hidden="true"></i></div>
							<h3 class="title">Emergency Medical Services</h3>
							<p class="description">
								In times of urgency, rely on our efficient emergency medical services. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur.
							</p>
							<a href="https://en.wikipedia.org/wiki/Emergency_medical_services" class="new-btn-d br-2">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Services -->
