 @using HealthProvisor.Data.Enum
@model HealthProvisor.Models.ViewModel.PatientRegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create Doctor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/images/RegisterPatient.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }


        .cardd {
            background-color: rgba(216, 212, 226, 0.8);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
            transition: box-shadow 0.3s ease-in-out;
            max-width: 100%;
            margin-top: 12px;
        }

            .cardd:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
            }

        .card-title {
            color: #007bff;
        }

        .btn-primary {
            background-color: #007bff;
            border: 1px solid #007bff;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border: 1px solid #0056b3;
            }

        footer {
            display: none;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="cardd">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-2">Register Patient</h2>
                        <hr />

                        <form asp-action="Create" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="FirstName" class="control-label">First Name</label>
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="LastName" class="control-label">Last Name</label>
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="UserName" class="control-label">UserName</label>
                                        <input asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label">Email</label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                                        <input asp-for="PhoneNumber" class="form-control" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Gender"></label>
                                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Age" class="control-label">Patient Age</label>
                                        <input asp-for="Age" class="form-control" />
                                        <span asp-validation-for="Age" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="FormFile" class="control-label">Patient Image</label>
                                        <input asp-for="FormFile" type="file" class="form-control" />
                                        <span asp-validation-for="FormFile" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label">Password</label>
                                        <input asp-for="Password" type="password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-6 mx-auto">
                                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
