@{
    ViewData["Title"] = "DoctorProfile";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Doctor Profile</h1>
                    <hr>

                    <p class="card-text text-center">
                        Welcome to the comprehensive profile of our esteemed medical professional. Our dedicated and experienced doctor is committed to providing high-quality healthcare services.
                        Get to know more about the background, expertise, and compassionate care offered by our doctor through this detailed profile.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
