@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Admin Dashboard</h1>

<p>Welcome to the Admin Dashboard! This dashboard provides a comprehensive view of various aspects within the system. You can manage patients, doctors, categories, and more. The tables below display key information about patients, doctors, and categories, offering a quick overview of your system's data. Take advantage of the features provided to streamline your administrative tasks.</p>
