@model HealthProvisor.Models.Consultation

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1 class="text-danger">Edit</h1>

    <div class="confirmation-box">
        <h4>Consultation</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Edit">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="ConsultationID" />
                    <div class="form-group">
                        <label asp-for="PatientID" class="control-label">Patient</label>
                        <select asp-for="PatientID" class="form-control" asp-items="ViewBag.PatientID"></select>
                        <span asp-validation-for="PatientID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DoctorID" class="control-label">Doctor</label>
                        <select asp-for="DoctorID" class="form-control" asp-items="ViewBag.DoctorID"></select>
                        <span asp-validation-for="DoctorID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label">Date</label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Notes" class="control-label">Notes</label>
                        <input asp-for="Notes" class="form-control" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
