@model Patient

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientID" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient_Age" class="control-label"></label>
                <input asp-for="Patient_Age" class="form-control" />
                <span asp-validation-for="Patient_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient_Gender" class="control-label"></label>
                <select asp-for="Patient_Gender" class="form-control"></select>
                <span asp-validation-for="Patient_Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient_Status" class="control-label"></label>
                <input asp-for="Patient_Status" class="form-control" />
                <span asp-validation-for="Patient_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentType" class="control-label"></label>
                <input asp-for="ContentType" class="form-control" />
                <span asp-validation-for="ContentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

